<%= form_with(model: notesheet, local: true) do |form| %>
  <% if notesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notesheet.errors.count, "error") %> prohibited this notesheet from being saved:</h2>

      <ul>
        <% notesheet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  
  <div class="field">
    <%= form.label :course_id %>
    <%= form.collection_select :course_id, Course.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.file_field :notepics, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.collection_select :author_id, User.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :date_created %>
    <%= form.date_field :date_created %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
