<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script>
  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();  
    } else {                                 // Not logged into your webpage or we are unable to tell.
    }
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }
  
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '680538159135435',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v5.0'
    });
    
    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };
    

  (function(d, s, id) {                      // Load the SDK asynchronously
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

 
  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', {fields: 'name, id, picture, email'}, function(response) {
      console.log('Successful login for: ' + response.name);
      console.log('ID: ' + response.id)
      console.log('Email: ' + response.email)
      document.getElementById('nameID').setAttribute('value', response.name)
      document.getElementById('emailID').setAttribute('value', response.email)
      console.log('Picture: ' + response.picture)
      
      var name = response.name
      var email = response.email
      console.log(name)

    });
  }
  
  function startLogout(){
    FB.logout(function(response){
      statusChangeCallback(response)
    });
  }
  
  function startLogin() {
    FB.login(function(response){
      statusChangeCallback(response)
    }, {scope: 'email'});
  }
  
  function signUp() {    
  }
</script>

<%= bootstrap_form_for(@notesheet) do |form| %>
  <% if notesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notesheet.errors.count, "error") %> prohibited this notesheet from being saved:</h2>

      <ul>
        <% notesheet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-50 p-3" style="background-color:#F0F0F0">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.collection_select :course_id, Course.order(:name),:id,:name, include_blank: true %>
        </div>
    
        <div class="form-group col-md-6">
          <%= form.text_field :title, class: "form-control hidden"%>
        </div>
      </div>
      
      <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="active"><a data-toggle="tab" href="#textentry" style="color: #333;">Text Entry</a></li>
        <pre>  |  </pre>
        <li style="padding-right: 10px"><a data-toggle="tab" href="#uploading" style="color: #333;">Upload a File
        </a></li>
      </ul>
      
      <div class="tab-content">
        <div id="textentry" class="tab-pane fade in active">
          <%= form.text_area :content, hide_label: true%>
        </div>
        
        <div id="uploading" class="tab-pane fade">
          <div class="field">
            <a href="#" data-toggle="tooltip" title="For best results while viewing, upload a JPG or JPEG."> <i class="fas fa-info-circle", style="color: #333;"></i></a>
            <%= form.file_field :notepic, hide_label: true%>
            <%= form.hidden_field :notepic_cache %>
            
            <script type="application/javascript">
              $('.custom-file-input').change(function(e){
                  var fileName = e.target.files[0].name;
                  $(`.custom-file-label[for=${e.currentTarget['id']}]`).html(fileName);
              }); 
            </script>
          </div>
          
        </div>
      </div>
    
      <div class="field">
          <%= form.hidden_field :user_id, value: $currentUser.id %>
      </div>
      
      
    
      <div class="field">
        <%= form.date_field :date_created, label: "Class date", max: Date.today, value: Date.today %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
    </form>
  </div>
  

<% end %>


