<title>NoteShare</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<body style="background-color:#C1DFF0">
<div class="jumbotron" style="background-color:#5bc0de">
  <h1>NoteShare</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 text-center"><a href="/courses" class="btn btn-info" role="button">Courses</a></div>
    <div class="col-lg-4 text-center"><a href="/notesheets" class="btn btn-info" role="button">Notesheets</a></div>
    <div class="col-lg-4 text-center"><a href="/users" class="btn btn-info" role="button">Users</a></div>
  </div>
</div>

<div style="margin-left:25px">
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @notesheet.content %>
</p>

<p>
  <strong>Course:</strong>
  <%= @notesheet.course_id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @notesheet.author_id %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @notesheet.date_created %>
</p>

<%= link_to 'Edit', edit_notesheet_path(@notesheet) %> |
<%= link_to 'Back', notesheets_path %>
</div>
</body>