<title>NoteShare</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<body>
<p id="notice"><%= notice %></p>


<p>
  <strong>Course:</strong>
  <%= idToModel(@notesheet.course_id, Course).name %>
</p>

<p>
  <strong>Author:</strong>
  <%= idToModel(@notesheet.author_id, User).name %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @notesheet.date_created %>
</p>

<% unless @notesheet.content.nil? %>
  <p>
    <strong>Content:</strong>
    <%= @notesheet.content %>
  </p>
<%end%>

<%= image_tag(@notesheet.notepic.url, alt: 'Image of notes') if @notesheet.notepic? %>





<%= link_to 'Edit', edit_notesheet_path(@notesheet) %> 
<%= link_to 'Back', notesheets_path %>

</body>