<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<title>NoteShare</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
  .noteimages{
    width: 600px;
  }
</style>
<body>
<p id="notice"><%= notice %></p>


<p>
  <strong>Course:</strong>
  <%= idToModel(@notesheet.course_id, Course).name %>
</p>

<p>
  <strong>Author:</strong>
  <%= idToModel(@notesheet.user_id, User).name %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @notesheet.date_created %>
</p>

<% unless @notesheet.content.nil? %>
  <p>
    <%= @notesheet.content %>
  </p>
<%end%>

<div style="background-color:#F0F0F0">
  <div class="noteimages">
    <%= image_tag(@notesheet.notepic.url, alt: 'Image of notes') if !@notesheet.content? %>
  </div>
</div>




<%= link_to(edit_notesheet_path(@notesheet), :style=>'color:#000000') do%>
  <i class="fas fa-edit", style='color:#000000'></i>Edit
<%end%>
<br>



<br>
<%= link_to(notesheets_path(@notesheet), :style=>'color:#000000') do%>
  <i class="fas fa-chevron-circle-left", style='color:#000000'></i>Back
<%end%>




</body>