<%= bootstrap_form_with(model: @course, local: true) do |form| %>
  

  <div class="w-25 p-3" style="background-color:#F0F0F0">
    
    
    <div class="field">
      
      
<%= form_with(url: "courses#enrollcourse", method: "post") do %>
  <%= label_tag(:q, "Course ID:") %>
  <%= text_field_tag(:q) %>
  
  <%= submit_tag("Enroll") %>
<% end %>
      
      

  

  </div>
  
  
<% end %>
