<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style style="text/css">
	/* Define the default color for all the table rows */
	/* Define the hover highlight color for the table row */
  .hoverTable tbody tr:hover {
    background-color: #F2F4F4;
  }
</style>


<body onload = "checkLoginState(); welcome();">
<body>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1 id="welcomehead"></h1>
    </div>
    <div class="col-sm text-center">
      <%= link_to 'Edit User Info (doesnt work yet)', '/', :class => "btn btn-info", :style => "color: black" %>
    </div>
    <div class="col-sm text-center">
      <a class="btn btn-info" role="button" onclick="startLogout();">Log Out</a>
    </div>
  </div>
</div>
<br>
<h1>Your Courses</h1>


<% $currentUser = User.find_by(email: $currentUserEmail) %>
<% $currentUser.courses.push(Course.first) %>




<p id="notice"><%= notice %></p>
<table id="dt" class="table table-bordered table-sm hoverTable" cellspacing="0" width="100%">
  <thead class = "thead-light">
    <tr>
      <th>Course Name</th>
      <th>Professor</th>

    </tr>
  </thead>

  <tbody>
    <% $currentUser.courses.each do |course| %>
      <tr>
        <td style="padding: 5px">
            <%= link_to course.name, course, :class => "btn btn-link", :style=>'color:#000000;' %>
        </td>
        <td><%= course.prof %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<div>
  <p>Don't see your course?</p>
  <%= link_to '+ Join a Class', new_course_path, :class => "btn btn-outline-secondary",  :style => "color:black" %>
</div>

<div>
  <%= link_to 'Your Notesheets', notesheets_path, :class => "btn btn-outline-secondary",  :style => "color:black" %>
</div>
</body>