<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style style="text/css">
	/* Define the default color for all the table rows */
	/* Define the hover highlight color for the table row */
  .hoverTable tbody tr:hover {
    background-color: #F2F4F4;
  }
</style>
<script>

function enroll(){
  var ids = document.getElementById('idList').innerHTML;
  ids = ids.slice(1, -1)
  ids = ids.split(", ")
  var courseID = document.getElementById('courseIDField').value;
  console.log(ids.includes(courseID));
  if (ids.includes(courseID)){
    window.location = '/courses/' + courseID
  }
  else {
    document.getElementById('invalidID').innerHTML ='Invalid course ID.' ;
  }
  // window.location = '/courses/' + courseID
}
</script>

<body onload = "checkLoginState(); welcome();">
<body>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1 id="welcomehead"></h1>
    </div>
    <div class="col-sm text-center">
    </div>
    <div class="col-sm text-center">
      <a class="btn btn-outline-secondary" role="button" onclick="startLogout();">Log Out</a>
    </div>
  </div>
</div>
<br>
<h1>Your Courses</h1>

<% auth = FbGraph2::Auth.new('680538159135435', '728f73e88988a9e5c94e879431252701') %>
<% signed_request = auth.from_cookie cookies %>
<% graph = Koala::Facebook::API.new(signed_request.access_token) %>
<% user = graph.get_object('me', fields:'email') %>
<% $currentUserEmail = user['email'] %>
<% $currentUser = User.find_by(email: $currentUserEmail) %>





<p id="notice"><%= notice %></p>
<table id="dt" class="table table-bordered table-sm hoverTable" cellspacing="0" width="100%">
  <thead class = "thead-light">
    <tr>
      <th>Course Name</th>
      <th>Professor</th>

    </tr>
  </thead>

  <tbody>
    <% $currentUser.courses.each do |course| %>
      <tr>
        <td style="padding: 5px">
            <%= link_to course.name, course, :class => "btn btn-link", :style=>'color:#000000;' %>
        </td>
        <td><%= course.prof %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div id='enrollField'>
  <p>Don't see the course you're looking for? Enter your course's ID below (your professor will give this to you) <br>
  <input type="text" id="courseIDField">

  
  <a class="btn btn-outline-secondary" role="button" onclick="enroll();">Enroll</a>
  
</div>
<div id='invalidID'></div>
<br>

<div>
  <%= link_to 'Your Notesheets', notesheets_path, :class => "btn btn-outline-secondary",  :style => "color:black" %>
</div>

<div id='invalidID'></div>
<div hidden id='idList'><%= Course.ids %></div>
</body>