<body>
<h1>Courses</h1>
<div>
  <%= link_to 'Create New Course', new_course_path, :class => "btn btn-info", :style => "color:black"%>
</div>

<p id="notice"><%= notice %></p>
<table width="60%", border-collapse="collapse", border="1px solid #00F", cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Course Name</th>
      <th>Professor</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td style="padding: 5px">
          <div>
            <%= link_to course.name, course, :class => "btn btn-link" %>
          </div>
        </td>
        <td><%= course.prof %></td>
        <td style="padding: 5px;">
          <div>
            <%= link_to 'Edit Course Info', edit_course_path(course), :class => "btn btn-warning" %>
          </div>
        </td>
        <td style="padding: 5px;">
          <div>
            <%= link_to 'Delete Course', course, :class => "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

</body>

