<title>NoteShare</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<body style="background-color:#C1DFF0">
<div style="margin-left:25px">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Prof:</strong>
  <%= @course.prof %>
</p>


<table width="60%", border-collapse="collapse", border="1px solid #00F", cellspacing="0">
  <thead>
    <tr>
      <th>Content</th>
      <th>Author</th>
      <th>Date Created</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notesheets.each do |notesheet| %>
      <tr>
        <td><%= notesheet.content %></td>
        <td><%= notesheet.author_id %></td>
        <td><%= notesheet.date_created %></td>
        
        <!--TODO: add Show, Edit, Destroy options to a notesheet page -->
        <!-- <td><%= link_to 'Show', notesheet %></td>
        <td><%= link_to 'Edit', edit_course_path(notesheet) %></td>
        <td><%= link_to 'Destroy', notesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>