<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NoteShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div class="jumbotron" style="background-color:#5bc0de">
      <div class="media">
        <div class="media-left media-middle" style="float:left">
          <%= image_tag asset_path('noteShareLogo.png'), :type =>  'image/png' , :size => "150x120"%>
        </div>
        <div class="media-body media-middle">
          <h1>NoteShare</h1>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 text-center"><a href="/" class="btn btn-info" role="button">Home</a></div>
        <div class="col-lg-3 text-center"><a href="/courses" class="btn btn-info" role="button">Courses</a></div>
        <div class="col-lg-3 text-center"><a href="/notesheets" class="btn btn-info" role="button">Notesheets</a></div>
        <div class="col-lg-3 text-center"><a href="/users" class="btn btn-info" role="button">Users</a></div>
      </div>
    </div>
    <br>
    <div style="font-size:20px; margin:auto; text-align:center" id="status"></div>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Student_Notes-512.png'), :rel => 'icon', :type =>  'image/png' %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
  </head>
  <body style="background-color:#C1DFF0">
  
    <div style="margin-left:25px">
    
    <%= yield %>
    </div>
  </body>
  
</html>

